<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="centerContent">
		<h:form>
			<p:panel>
				<f:facet name="header">
					<h1>
						<h:outputText value="#{manterArtistaMB.title}" />
					</h1>
				</f:facet>
				<p:panelGrid columns="2" columnClasses="labelField, textField">
					<h:outputLabel for="codigo" value="#{msg['nome']}:" />
					<p:inputText id="codigo" value="#{manterArtistaMB.artista.nome}"
						disabled="#{manterArtistaMB.acaoVisualizar}" />
				</p:panelGrid>

				<f:facet name="footer">
					<p:panel toggleTitle="#{msg['acoes']}" styleClass="noBorder">
						<p:commandButton id="submit" value="#{msg['salvar']}"
								action="#{manterArtistaMB.salvar}" ajax="false"
								rendered="#{not manterArtistaMB.acaoVisualizar}" />
							
						<p:commandButton id="reset" value="#{msg['voltar']}"
								action="#{manterArtistaMB.voltar}" ajax="false" />
					</p:panel>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
